@font-face {
  font-family: 'ApexRounded-Book';
  src: url('../fonts/ApexRounded-Book.eot');
  src: url('../fonts/ApexRounded-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ApexRounded-Book.svg#ApexRounded-Book') format('svg'),
    url('../fonts/ApexRounded-Book.ttf') format('truetype'), url('../fonts/ApexRounded-Book.woff') format('woff'),
    url('../fonts/ApexRounded-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'ApexRounded-Bold';
//   src: url('./fonts/ApexRounded-Bold.eot');
//   src: url('./fonts/ApexRounded-Bold.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/ApexRounded-Bold.svg#ApexRounded-Bold') format('svg'),
//     url('./fonts/ApexRounded-Bold.ttf') format('truetype'), url('./fonts/ApexRounded-Bold.woff') format('woff'),
//     url('./fonts/ApexRounded-Bold.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'ApexRounded-Medium';
//   src: url('./fonts/ApexRounded-Medium.eot');
//   src: url('./fonts/ApexRounded-Medium.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/ApexRounded-Medium.svg#ApexRounded-Medium') format('svg'),
//     url('./fonts/ApexRounded-Medium.ttf') format('truetype'), url('./fonts/ApexRounded-Medium.woff') format('woff'),
//     url('./fonts/ApexRounded-Medium.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'ApexRounded-Heavy';
//   src: url('./fonts/ApexRounded-Heavy.eot');
//   src: url('./fonts/ApexRounded-Heavy.eot?#iefix') format('embedded-opentype'),
//     url('./fonts/ApexRounded-Heavy.svg#ApexRounded-Heavy') format('svg'),
//     url('./fonts/ApexRounded-Heavy.ttf') format('truetype'), url('./fonts/ApexRounded-Heavy.woff') format('woff'),
//     url('./fonts/ApexRounded-Heavy.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }
