//COLOURS
$palette: (
  black: #000000,
  white: #ffffff,
  offWhite: #fafafa,
  purple: #560a61,
  pink: #d7088b
);

$font-family: 'ApexRounded-Book', sans-serif;
$font-family--medium: 'ApexRounded-Medium', sans-serif;
$font-family--icon: sans-serif;
